# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=5000
NODE_ENV=development
DATABASE_URL=yout-database-link

# For Development
FRONTEND_URL=http://localhost:3000

# For Production
# FRONTEND_URL=https://your-production-url.vercel.app

BETTER_AUTH_SECRET=your_better_auth_secret

# OAuth (replace with your own credentials)
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret


APP_USER=email_here
APP_PASSWORD=app_password_here

BETTER_AUTH_URL=http://localhost:5000 # Base URL of your app

APP_URL=http://localhost:5000 # Base URL of your app\r frontend app

ADMIN_NAME="Admin"
ADMIN_USERNAME="admin"
ADMIN_EMAIL="admin@skillbridge.com"
ADMIN_PASSWORD="admin123"

STRIPE_SECRET_KEY=your_secret_key
STRIPE_WEBHOOK_SECRET=your_webhook_secret
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_public_stripe_publishable_key